# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.venv
venv/
ENV/
.env

# SQLite DB
library.db

# FastAPI reload artifacts
*.log

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Docker
*.pid
```
